<div id="favorite_btn_<%= board_reivew.id %>">
  <% unless board_reivew.user == current_user %>
    <% if current_user.already_favorite?(board_reivew) %>
      <%= link_to favorite_path(id: board_reivew.id), method: :delete, remote: true do %>
      <i class="fas fa-heart red-text animated heartBeat"></i>
      <% end %>
    <% else %>
      <%= link_to favorites_path(id: board_reivew.id), method: :post, remote: true do %>
      <i class="far fa-heart red-text animated flash"></i>
      <% end %>
    <% end %>
  <% end %>
  <small>いいね<%= board_reivew.favorites.count %>件</small>
</div>