<% visitor = notification.visitor %>
<% visited = notification.visited %>
<div>
 <%= link_to user_path(visitor) do %>
    <%= image_tag visitor.image.url, :size =>'30x30', class: "small-user" %>
    <p class="text-dark notification-user"><%= visitor.username %>さんが</p>
 <% end %>
 <% case notification.action %>
  <% when 'dm' then %>
    あなたにメッセージを送りました
  <% when 'favorite' then %>
    <%= link_to "あなたのレビュー", notification.board_review.album_board %>
    にいいねしました
  <% when 'follow' then %>
    あなたをフォローしました
<% end %>
</div>
<hr>