<% visitor = notification.visitor %>
<% visited = notification.visited %>
<div>
 <%= link_to user_path(visitor) do %>
    <%= image_tag visitor.image.url, :size =>'30x30', class: "small-user" %>
    <p class="text-dark notification-user font-weight-bold"><%= visitor.username %>さんが</p>
 <% end %>
 <% case notification.action %>
  <% when 'dm' then %>
    <p class="notification-user font-weight-bold">あなたにメッセージを送りました</p>
  <% when 'favorite' then %>
    <%= link_to "あなたのレビュー", notification.board_review.album_board, class: "text-dark font-weight-bold" %>
    <p class="notification-user font-weight-bold">にいいねしました</p>
  <% when 'follow' then %>
    <p class="notification-user font-weight-bold">あなたをフォローしました</p>
<% end %>
</div>
<hr>