<% provide(:title, @user.username) %>
<div class="main-color">
  <%= @user.username %>                                                      
  <%= image_tag @user.image.url, class: "icon-image" %>
</div>