@import "bootstrap";

$main-color: #EEEEEE;
$sub-color: #888888;

html {
  background-color: black;
}

.background-color {
  background-color: black;
}

.main-color {
  background-color: $main-color;
}

.font-color {
  color: white;
}


/*homepage*/
.jumbotron { 
  background:url(sharemusic_top.jpg) center no-repeat; background-size: cover;
  margin-bottom: 0;
  h1 {
    color: white;
    opacity: 0.8;
    text-align: center;
  }

  .home-btn {
    text-align: center;
    margin-top: 250px;
    margin-bottom: 300px;
  }

  .btn-border {
    font-size: 20px;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    background-color:rgba(255,255,255,.0);
    padding: 8px 30px;
  }
  
  .btn-border:hover {
    background-color:rgba(255,255,255,0.2);
    transition: 0.3s;
  }
}

.navbar {
  width: 100%;
  .navbar-brand {
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
  }

  .navbar-brand:hover{
    color: white;
    opacity: 0.7;
    transition: 0.2s;
  }

  .header-tag {
    color: white;
    padding-left: 15px;
  }

  .nav-link {
    display: inline-block;
  }

  .nav-link:hover{
    opacity: 0.7;
    transition: 0.2s;
  }

  .navbar-toggler{
    border-color: #ffffff;
  }
  
  .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
}

.top-description {
  background-color: black;
  padding-top: 80px;
  padding-bottom: 80px;
  h1 {
    color: #CC66FF;
    text-align: center;
    padding-bottom: 30px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
  }

  p {
    color: white;
    text-align: center;
    width: 80%;
    margin: auto;
    padding-bottom: 15px;
    padding-top: 15px;
    font-family: 'Noto Sans JP', sans-serif;
  }

  .end-description{
    padding-top: 20px;
    font-size: 1.3em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
  }
}

footer {
  width: 90%;
  margin: auto;
  padding-bottom: 50px;
}

.footer-color {
  background-color: black;
}


/*form*/
.form-username {
  text-align: center;
  color: white;
  margin-bottom: 30px;
}

.form-email {
  text-align: center;
  color: white;
  margin-bottom: 30px;
}

.form-password {
  text-align: center;
  color: white;
  margin-bottom: 30px;
}

.form-image {
  text-align: center;
  color: white;
  margin-bottom: 30px;
}

.form-introduce {
  text-align: center;
  color: white;
  margin-bottom: 30px;
}

.field-area {
  width: 30%;
}

.btn-remember {
  text-align: center;
  color: white;
  margin-bottom: 30px;
}

.actions {
  text-align: center;
  margin-bottom: 50px;
  .submit-btn {
    width: 30%;
    margin-top: 30px;
    color: white;
    background-color: gray;
    border-radius: 3px;
  }
}

.form-heading {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}

.delete-btn {
  width: 200px;
  margin: auto;
}

.back-btn {
  margin-left: 35%;
}

.registrations-edit {
  padding-bottom: 100px;
}


/*shared-links*/
.shared-links{
  margin-left: 34%;
  padding-bottom: 100px;
}


/*error*/
.alert {
  margin: 0;
}

.font-error {
  margin-left: 30%;
  color: $main-color;
}


/*users/show*/
.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  object-fit: cover;
}

.user-profile {
  padding-top: 20px;
  h5 {
    padding-top: 20px;
  }
}

.show-username {
  padding-top: 30px;
}

.show-image {

}

.show-introduce {
  margin-top: 5px;
  background-color: white;
  border-radius: 10px;
  padding: 10px 5px 10px 5px;
  max-width: 800px;
  p {
    margin: 0;
  }
}

.show-profile-setting {
  padding: 10px 0 30px 0;
  .profile-setting{
    color: $sub-color;
  }
}

@media screen and (max-width: 1024px){
  .field-area {
    width: 40%;
  }

  .shared-links{
    margin-left: 30%;
  }

  .actions {
  .submit-btn {
    width: 40%;
    }
  }

  .font-error {
    margin-left: 20%;
    color: $main-color;
  }

  .back-btn {
    margin-left: 30%;
  }
}

@media screen and (max-width: 680px){
  .top-description {
    p {
      font-size: 12px;
      width: 90%;
    }
  }

  .field-area {
    width: 60%;
  }

  .shared-links{
    margin-left: 20%;
  }

  .actions {
  .submit-btn {
      width: 60%;
    }
  }

  .font-error {
    margin-left: 10%;
  }

  .back-btn {
    margin-left: 20%;
  }
}